@model PicoBeer.Domain.Yeast

@{
    ViewData["Title"] = Localizer["Details"];
}
<div class="row">
    <h4>@Localizer["Yeast"]</h4>
</div>
<div class="row">
    @await Html.PartialAsync("_DetailsYeastPartial",Model)
</div>
<div class="row">
    <a asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["BackToList"]</a>
</div>
